/* .login-page {
     width: 560px; 
    padding: 8% 0 0;
    margin: auto;
  } */
  span{
    background: red;
  }
  .form1 {
    position: relative;
    background: #FFFFFF;
    max-width: 360px; 
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }
  .form1 input {
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
  }
  .form1 button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #0467E5;
    width: 100%;
    border: 0;
    padding: 15px;
    font-size: 14px;
  }
  .form1 .message {
    margin: 15px 0 0;
    font-size: 12px;
  }
  .form1 .message a {
    color: #0467E5;
    text-decoration: none;
  }
  
  .body1 {
    background-image: linear-gradient(#2A68F5, #2AF5E6);
    height:100%;    
  }